@model IEnumerable<testyoutube.Data.Tickets>
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data

@inject SignInManager<aspnetusers> SignInManager
@inject UserManager<aspnetusers> UserManager

@{
    ViewData["Title"] = "Accueil";

}

<head>
    <link rel="stylesheet" href="~/css/responsive.css" />
</head>

@if (SignInManager.IsSignedIn(User))
{
    //<h1 class="text-white text-center">Vous êtes connectés</h1>

    @if (User.IsInRole("admin"))
    {
        //<h1 class="text-white text-center">Vous êtes un admin</h1>
        <h3 class="text-white">Liste des tickets</h3>
        <div class="neumorphism">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID_ticket)
                        </th>
                        <th>
                            Nom d'utilisateur
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Titre)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_creation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_modif)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Statut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Panne)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td >
                                @Html.DisplayFor(modelItem => item.ID_ticket)
                            </td>
                            <td >
                                <a href="mailto:@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)">@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)</a>
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Titre)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Date_creation)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Date_modif)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Statut.Nom)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Panne.Description)
                            </td>
                            <td>
                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.ID_ticket">Modifier</a> |
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.ID_ticket">Détails</a> |
                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.ID_ticket" class="text-danger">Supprimer</a> |
                                <a asp-controller="Tickets" asp-action="Chat" asp-route-id="@item.ID_ticket">Discussion</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        //<h1 class="text-white text-center">Vous n'êtes pas un admin</h1>
        @if (!Model.Any(t => t.ID_utilisateur == UserManager.GetUserId(User)))
        {
            <h3 class="text-white">Aucun ticket trouvé</h3>
        }
        else
        {
            <h3 class="text-white">Liste des tickets</h3>
            <div class="neumorphism" style="margin-right: -45px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Date de création</th>
                            <th>Date de modification</th>
                            <th>Utilisateur</th>
                            <th>Panne</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(t => t.ID_utilisateur == UserManager.GetUserId(User)))
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ticket)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_creation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_modif)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Statut.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Panne.Description)
                            </td>
                            <td>
                                <a asp-controller="Tickets" asp-action="Chat" asp-route-id="@item.ID_ticket">Discussion</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}
