@model IEnumerable<testyoutube.Data.Tickets>
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data

@inject SignInManager<aspnetusers> SignInManager
@inject UserManager<aspnetusers> UserManager

@{
    ViewData["Title"] = "Accueil";
}

<head>
    <link rel="stylesheet" href="~/css/responsive.css" />
</head>

@if (SignInManager.IsSignedIn(User))
{
    //<h1 class="text-white text-center">Vous êtes connectés</h1>

    @if (User.IsInRole("admin"))
    {
        //<h1 class="text-white text-center">Vous êtes un admin</h1>
        <div class="recherche">
            <h3 class="text-white">Liste des tickets</h3>
            <input type="text" id="searchInput" placeholder="Rechercher un ticket..." class="arrondir" style="outline: none;" />
        </div>
        <div class="neumorphism fade" id="FadeAnim">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID_ticket)
                        </th>
                        <th>
                            Nom d'utilisateur
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Titre)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_creation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date_modif)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Statut)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Panne)<span class="user-select-none" style="user-select: none; color: #ededed">yyyyyyyyyyy</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_ticket)
                            </td>
                            <td>
                                <a href="mailto:@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)">@Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_creation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_modif)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Statut.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Panne.Description)
                            </td>
                            <td>
                                <div class="d-flex">
                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.ID_ticket">Modifier&nbsp;</a>
                                    <svg style="width: 18px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                    </svg>
                                </div>
                                <div class="d-flex">
                                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.ID_ticket">Détails&nbsp;</a>
                                    <svg style="width: 18px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                                    </svg>
                                </div>
                                <div class="d-flex">
                                    <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.ID_ticket" class="text-danger">Supprimer&nbsp;</a>
                                    <svg style="width: 18px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                    </svg>
                                </div>
                                <div class="d-flex">
                                    <a asp-controller="Tickets" asp-action="Chat" asp-route-id="@item.ID_ticket">Discussion&nbsp;</a>
                                    <svg style="width: 18px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                    </svg>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        //<h1 class="text-white text-center">Vous n'êtes pas un admin</h1>
        @if (!Model.Any(t => t.ID_utilisateur == UserManager.GetUserId(User)))
        {
            <h3 class="text-white">Aucun ticket trouvé</h3>
            <p class="text-white">Pour entrer en contact avec SMARTlight, créez un ticket en cliquant sur le bouton "Créer un ticket" en haut de votre écran.</p>
            <p class="text-white">Une fois le ticket crée, appuyez sur le bouton "Discussion" pour consulter les messages envoyés.</p>
        }
        else
        {
            <div class="recherche">
                <h3 class="text-white">Liste des tickets</h3>
                <input type="text" id="searchInput" placeholder="Rechercher un ticket..." class="arrondir" />
            </div>
            <div class="neumorphism" style="margin-right: -45px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Statut</th>
                            <th>Date de création</th>
                            <th>Date de modification</th>
                            <th>Utilisateur</th>
                            <th>Panne</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(t => t.ID_utilisateur == UserManager.GetUserId(User)))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID_ticket)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => UserManager.FindByIdAsync(item.ID_utilisateur).Result.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_creation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date_modif)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Statut.Nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Panne.Description)
                                </td>
                                <td>
                                    <a asp-controller="Tickets" asp-action="Chat" asp-route-id="@item.ID_ticket">Discussion</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
        <p>Vous pouvez créer un ticket pour entrer en contact avec un employé de SMARTlight au sujet d'une panne.</p>
    </div>
}
<script src="~/js/Recherche.js" asp-append-version="true"></script>
<script src="~/js/FadeIn.js"></script>