
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data

@model List<testyoutube.Data.Tickets>
@inject SignInManager<testyoutubeUser> SignInManager
@inject UserManager<testyoutubeUser> UserManager

@{
    ViewData["Title"] = "Accueil";

}

@if (SignInManager.IsSignedIn(User))
{
    //<h1 class="text-white text-center">Vous êtes connectés</h1>

    @if (User.IsInRole("admin"))
    {
        //<h1 class="text-white text-center">Vous êtes un admin</h1>
        <h3 class="text-white">Liste des tickets</h3>
        <div class="neumorphism" style="margin-right: -45px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Statut</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Utilisateur</th>
                        <th>Panne</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@ticket.ID_ticket</td>
                            <td>@ticket.Titre</td>
                            <td>@ticket.Description</td>
                            <td>@ticket.Statut.Nom</td>
                            <td>@ticket.Date_creation</td>
                            <td>@ticket.Date_modif</td>
                            <td>@UserManager.FindByIdAsync(ticket.ID_utilisateur).Result.UserName</td>
                            <td>@ticket.panne.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>                                 
                                               
   }                                          
   else                                       
   {
      //<h1 class="text-white text-center">Vous n'êtes pas un admin</h1>
   }

}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>

}
