@model testyoutube.Data.Message

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conversation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conversation.ID_conversation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_message">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
