@model IEnumerable<testyoutube.Data.Message>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Index</h1>
<div class="neumorphism">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Contenu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conversation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contenu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conversation.ID_conversation)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID_message">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID_message">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID_message">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
