@model testyoutube.Data.Tickets
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data
@inject SignInManager<aspnetusers> SignInManager

@{
    ViewData["Title"] = "Supprimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex">
        <h1 class="text-white">Supprimer&nbsp;</h1>
        <svg style="max-width: 40px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
    </div>


    <div class="neumorphism">
        <h3 class="text-danger">Voulez-vous vraiment supprimer ce ticket?</h3>
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID_utilisateur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID_utilisateur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date_creation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date_creation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date_modif)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date_modif)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Statut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Statut.ID_statut)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Panne)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Panne.ID_panne)
            </dd>
        </dl>

        <form asp-action="Delete" onsubmit="return confirmDelete();">
            <input type="hidden" asp-for="ID_ticket" />
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-controller="Home" asp-action="Index">Retour à la liste</a>
        </form>
    </div>

}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}

<script>
    function confirmDelete() {
        if (confirm("Êtes-vous sûr de vouloir supprimer ce ticket?")) {
            return true; // Continuer avec la soumission du formulaire de suppression
        } else {
            return false; // Annuler la soumission du formulaire de suppression
        }
    }
</script>
