@model testyoutube.Data.Tickets
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data
@inject SignInManager<aspnetusers> SignInManager
@{
    ViewData["Title"] = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1 class="text-white">Détails</h1>

    <div class="neumorphism">
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID_utilisateur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID_utilisateur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date_creation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date_creation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date_modif)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date_modif)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Statut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Statut.ID_statut)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Panne)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Panne.ID_panne)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID_ticket">Modifier</a> |
            <a asp-controller="Home" asp-action="Index">Retour à la liste</a>
        </div>
    </div>

}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}

